@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-position: top top;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 15%;
  font-size: 36px;
  font-weight: 700;
  color: white;
}

.header span {
  font-size: 36px;
}

.header .theme__toggle__button {
  background-color: transparent;
  border: none;
  color: white;
  transform: scale(2.2);
  cursor: pointer;
}

.input__wrapper {
  position: relative;
  margin: 20px 0 81px 0;
}

.input__wrapper .input {
  width: 100%;
  border-radius: 5px;
  height: 64px;
  border: none;
  padding-left: 70px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #393a4c;
}

.input__wrapper .input:focus {
  outline: none;
}

.input__wrapper .input__button {
  position: absolute;
  top: 30%;
  left: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #d2d3db;
}

.taskListwrapper {
  flex-grow: 1;
}

.taskList {
  width: 100%;
  display: block;
  list-style-type: none;
  border-radius: 0 0 5px 5px;
  margin-top: -30px;
  box-shadow: -1px 19px 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 19px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 19px 20px rgba(0, 0, 0, 0.3);
}

.taskList__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 64px;
  border-bottom: 1px solid #e4e5f1;
  color: #696a76;
}

.taskList__item .delete__button {
  background: transparent;
  border: none;
  margin-right: 24px;
  cursor: pointer;
  visibility: hidden;
}

.taskList__item:hover .delete__button {
  visibility: visible;
}

.taskList__item span {
  width: 90%;
}

.taskList__item strike {
  width: 90%;
  text-align: start;
}

.taskList__item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.taskList .done__task {
  color: #d2d3db;
}

.taskList .done__button {
  height: 24px;
  width: 24px;
  background: transparent;
  border: 1px solid #d2d3db;
  border-radius: 50%;
  margin-left: 24px;
  margin-right: 24px;
}

.taskList .done__button.done {
  border: none;
  background: #57ddff;
  background: linear-gradient(to right, #57ddff, #c058f3);
  color: white;
}

.bottomNav {
  background-color: white;
  height: 50px;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 19px 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 19px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 19px 20px rgba(0, 0, 0, 0.3);
}

.bottomNav p {
  margin-left: 24px;
}

.bottomNav .items__left {
  color: #9394a5;
}

.bottomNav .bottomNav__button {
  margin-right: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #9394a5;
  font-weight: 400;
  font-size: 14px;
}

.bottomNav .bottomNav__button:hover {
  color: #696a76;
}

.bottomNav__Links__item {
  margin: 0 10px;
  text-decoration: none;
  color: #9394a5;
}

.bottomNav__Links__item:hover {
  color: #696a76;
}

.bottomNav__Links__mobile {
  height: 50px;
  background-color: white;
  border-radius: 5px;
  margin-top: 17px;
  box-shadow: -1px 19px 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 19px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 19px 20px rgba(0, 0, 0, 0.3);
}

.selected {
  color: #3a7bfd;
}

.footer {
  padding: 50px 0;
}

.footer__text {
  color: #9394a5;
  text-align: center;
}

.dark {
  background-color: #161722;
}

.dark .taskList__item {
  border-bottom: solid rgba(143, 144, 161, 0.25);
  border-width: 0.1px;
}

.dark .input,
.dark .taskList__item,
.dark .bottomNav,
.dark .bottomNav__Links__mobile {
  background-color: #25273c;
}
/*# sourceMappingURL=main.css.map */